.users-main
  .users-main__left
    = link_to root_path, class:"main-left__top" do
      %p
        SubscripS
    .main-left__description
      %p
        忘れているサブスクはありませんか？
        %br
        SubscripSで管理しよう!
  .users-main__right
    = form_with url: login_path, local: true, class: ".main-right__form"do |f|
      .right-form__email
        %i.fas.fa-envelope
        = f.text_field :email
      .right-form__password
        %i.fas.fa-key
        = f.password_field :password
    .main-right__btns
      %input.right-btns__login{ type: "submit", name: "commit", value: "ログイン", "data-disable-with": "ログイン"}
      = link_to "サインアップ", signup_path,class: "right-btns__signup"
  .user-main__copyright
    Copyright © SubscripS 2019