.users-main
  = render "devise/shared/user-left" 
  .users-main__right
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "right-form"}) do |f|
      .right-form__name
        %i.fas.fa-user-circle
        = f.text_field :name, class: "form-name", placeholder: "ニックネーム"
      .right-form__email
        %i.fas.fa-envelope
        = f.text_field :email, class: "form-email", placeholder: "メールアドレス"
      .right-form__password
        %i.fas.fa-key
        = f.text_field :password, class: "form-password", placeholder: "パスワード"
      .right-form__confirmation
        %i.fas.fa-key
        = f.text_field :password_confirmation, class: "form-confirmation", placeholder: "同じパスワードをもう一度"
      .form-btns
        %input.form-btns__signup{ type: "submit", name: "commit", value: "登録", "data-disable-with": "ログイン"}
        = link_to "ログイン", new_user_session_path,class: "form-btns__login"
  = render "devise/shared/copyright" 