.header
  = link_to 'SubscripS','/' ,class: "header__top"
  .header-info
    - if user_signed_in?
      = link_to '#', class: 'header-info__logout' do
        = "#{current_user.name} さん"
      .header-info__total-service
        利用サービス数 :
        %p{class: "total-service-display", id: "total_service"}0
      .header-info__total-fee
        毎月の合計金額 :
        %p{class: "total-fee-display", id: "total_fee"}0
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header-info__logout'
    - else
      = link_to 'ログイン', new_user_session_path, class: 'header-info__login'
      = link_to 'サインアップ', new_user_registration_path, class: 'header-info__signin'