.header
  = link_to 'SubscripS','/' ,class: "header__top"
  .header-info
    - if signed_in?
      = link_to '#', class: 'header-info__logout' do
        = "#{@current_user.name} さん"
      = link_to 'ログアウト', logout_path, class: 'header-info__logout'
    - else
      = link_to 'ログイン', login_path, class: 'header-info__login'
      = link_to 'サインアップ', signup_path, class: 'header-info__signin'