.modal-window#modal-window
  = form_for @item, url: user_items_path(current_user.id), html:{class: "modal-form", id: 'item_form'} do |form|
    .modal-line
      .modal-line__labels
        = form.label :title
        .required
          必須
      = form.text_field :title, class: "modal-line__text-field", placeholder: "例) Netflix"

    .modal-line
      .modal-line__labels
        = form.label :link
        .required
          必須
      = form.text_field :link, class: "modal-line__text-field", placeholder: "例) https://www.netflix.com/jp/"

    .modal-line
      .modal-line__labels-color
        = form.label :color
        .required
          必須
      .color-selector
        %span.item-skin.item-skin-white.active{"data-item-skin": "white"}
        %span.item-skin.item-skin-grey{"data-item-skin": "grey"}
        %span.item-skin.item-skin-red{"data-item-skin": "red"}
        %span.item-skin.item-skin-orange{"data-item-skin": "orange"}
        %span.item-skin.item-skin-yellow{"data-item-skin": "yellow"}
        %span.item-skin.item-skin-green{"data-item-skin": "green"}
        %span.item-skin.item-skin-blue{"data-item-skin": "blue"}
        %span.item-skin.item-skin-purple{"data-item-skin": "purple"}
        %span.item-skin.item-skin-pink{"data-item-skin": "pink"}
        %span.item-skin.item-skin-brown{"data-item-skin": "brown"}
      %input{type: "hidden",id: "item_color", name: "item[color]"}

    .modal-line
      .modal-line__labels
        = form.label :plan
        .required
          必須
      = form.text_field :plan, class: "modal-line__text-field", placeholder: "例) ベーシックプラン"

    .modal-line
      .modal-line__labels
        = form.label :price
        .required
          必須
      %p.price_unit
        ¥
      = form.text_field :price, class: "modal-line__integer", placeholder: "例) 800"

    = form.fields_for :payment do |pform|
      .modal-line
        .modal-line__labels
          = pform.label :period_long
          .required
            必須
        = pform.text_field  :period_long, class: "modal-line__integer-period", placeholder: "例) 1"
        = pform.select :period_unit, [['---', 0], ['ヶ月ごと', 1], ['週間ごと', 2], ['日ごと', 3]], {}, class: "modal-line__select"

      .modal-line
        .modal-line__labels
          = pform.label :first_payment
          .required
            必須
        = pform.date_field :first_payment, class: "modal-line__date"

      .modal-line
        .modal-line__labels
          = pform.label :pay_method
          .arbitrary
            任意
        = pform.text_field  :pay_method, class: "modal-line__text-field", placeholder: "例) クレジットカード"

      .modal-line
        .modal-line__labels
          = pform.label :description
          .arbitrary
            任意
        = pform.text_area :description, class: "modal-line__text-area", placeholder: "例) 自由に入力してね！"

      .modal-line
        .modal-line__labels
          = form.label :release
          .required
            必須
        %input{type: "hidden",id: "item_release", name: "item[release]"}
        .release-button
          = link_to "非公開", "" , id: 'release-private', class: 'release-button__private'
          = link_to "公開する", "", id: 'release-public', class: 'release-button__public selecting'

    .modal-form__buttons
      = form.submit "登録", class: 'modal-submit', id: 'item_button'
      = link_to "取り消し", "", class: 'modal-cancel', id: 'modal-close'