.users-main
  = render "devise/shared/user-left" 
  .users-main__right
    = form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "right-form"}) do |f|
      .right-form__email
        %i.fas.fa-envelope
        = f.text_field :email, class: "form-email validate[required,custom[email]]", placeholder: "メールアドレス"
      .right-form__password
        %i.fas.fa-key
        = f.password_field :password, class: "form-password validate[required,custom[password],minSize[8],maxSize[72]]", placeholder: "パスワード"
      - if devise_mapping.rememberable?
        %input{ type: "hidden", name: "user[remember_me]", value: "1"}
      .form-btns
        %input.form-btns__login{ type: "submit", name: "commit", value: "ログイン", "data-disable-with": "ログイン"}
        = link_to "サインアップ", new_user_registration_path,class: "form-btns__signup"
      %a{href:"",id: "test-login", class: "test-login"}
        テストアカウントでログイン
  = render "devise/shared/copyright" 