= form_with model: @item, url: user_items_path(current_user.id), local: true, id: 'edit_item' do |form|
  = form.label :title
  = form.text_field :title, id: 'edit_title'
  = form.label :link
  = form.text_field :link, id: 'edit_link'
  = form.label :color
  = form.text_field :color, id: 'edit_color'
  = form.label :plan
  = form.text_field :plan, id: 'edit_plan'
  = form.label :price
  = form.text_field :price, id: 'edit_price'
  = form.fields_for :payment do |pform|
    = pform.label :period_long
    = pform.text_field  :period_long, id: 'edit_period_long'
    = pform.label :period_unit
    = pform.select  :period_unit, [['---', 0], ['ヶ月ごと', 1], ['週間ごと', 2], ['日ごと', 3]], id: 'edit_period_unit'
    = pform.label :first_payment
    = pform.date_field :first_payment, id: 'edit_first_payment'
    = pform.label :pay_method
    = pform.text_field  :pay_method, id: 'edit_pay_method'
    = pform.label :description
    = pform.text_area   :description, id: 'edit_description'
  = form.label :private
  = form.check_box  :private, id: 'edit_private'
  = form.submit '変更する', id: 'edit_item_btn'