= form_with model: @item, url: user_item_path(current_user.id, @item.id), local: true, method: :patch do |form|
  = form.label :title
  = form.text_field :title, value: @item.title
  = form.label :link
  = form.text_field :link, value: @item.link
  = form.label :color
  = form.text_field :color, value: @item.color
  = form.label :plan
  = form.text_field :plan, value: @item.plan
  = form.label :price
  = form.text_field :price, value: @item.price
  = form.fields_for :payment do |pform|
    = pform.label :period_long
    = pform.text_field  :period_long, value: @item.payment.period_long
    = pform.label :period_unit
    = pform.select  :period_unit, [['---', 0], ['ヶ月ごと', 1], ['週間ごと', 2], ['日ごと', 3]], value: @item.payment.period_unit
    = pform.label :first_payment
    = pform.date_field :first_payment, value: @item.payment.first_payment
    = pform.label :pay_method
    = pform.text_field  :pay_method, value: @item.payment.pay_method
    = pform.label :description
    = pform.text_area   :description, value: @item.payment.description
  = form.label :private
  = form.check_box  :private, value: @item.private
  = form.submit '変更する'