= render "shared/header"
.items-main
  %ul.main-contents#result
    - @items.each do |item|
      %li{id: "item-#{item.id}"}
        .function-buttons
          = link_to user_item_path(current_user.id, item.id), class: "edit_item", "data-edit": "#{item.id}" do
            .tooltip{"aria-label": "編集", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-edit
          = link_to user_item_path(current_user.id, item.id), method: :delete, class: "delete_item", "data-delete": "#{item.id}" do
            .tooltip{"aria-label": "削除", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-trash-alt

        .content
          .content__header
            .header-survice
              %p{class: "header-survice__title", "data-title": "#{item.id}"}
                = item.title
              %p{class: "header-survice__plan", "data-plan": "#{item.id}"}
                = item.plan
            %p{class: "header-price", "data-price": "#{item.id}"}
              ¥
              = item.price
          .show-on
            = link_to "", class: "show-on__button", id: "show-on" do
              .tooltip{"aria-label": "詳細を表示", "data-microtip-position": "top", "role": "tooltip"}
                %i.fas.fa-chevron-down
          .content__body
            %p{"data-color": "#{item.id}"}
              = item.color
            %p{"data-link": "#{item.id}"}
              = item.link
            %p{"data-release": "#{item.id}"}
              = item.release
            %p{"data-period_long": "#{item.id}"}
              = item.payment.period_long
            %p{"data-period_unit": "#{item.id}"}
              = item.payment.period_unit
            %p{"data-first_payment": "#{item.id}"}
              = item.payment.first_payment
            %p{"data-pay_method": "#{item.id}"}
              = item.payment.pay_method
            %p{"data-description": "#{item.id}"}
              = item.payment.description
          .show-off
            = link_to "", class: "show-off__button", id: "show-off" do
              .tooltip{"aria-label": "詳細をしまう", "data-microtip-position": "top", "role": "tooltip"}
                %i.fas.fa-chevron-up
  = link_to user_items_path(current_user.id), id: 'new_item', class: 'item-creater' do
    .tooltip{"aria-label": "作成", "data-microtip-position": "top", "role": "tooltip"}
      %i.fas.fa-plus

.modal-form
  = form_with model: @item, url: user_items_path(current_user.id), local: true, id: 'item_form' do |form|
    = form.label :title
    = form.text_field :title
    = form.label :link
    = form.text_field :link
    = form.label :color
    = form.text_field :color
    = form.label :plan
    = form.text_field :plan
    = form.label :price
    = form.text_field :price
    = form.fields_for :payment do |pform|
      = pform.label :period_long
      = pform.text_field  :period_long
      = pform.label :period_unit
      = pform.select  :period_unit, [['---', 0], ['ヶ月ごと', 1], ['週間ごと', 2], ['日ごと', 3]]
      = pform.label :first_payment
      = pform.date_field :first_payment
      = pform.label :pay_method
      = pform.text_field  :pay_method
      = pform.label :description
      = pform.text_area   :description
    = form.label :release
    = form.check_box  :release
    = form.submit "登録", id: 'item_button'