= render "shared/header"
.items-main
  %ul.main-contents#result
    - @items.each do |item|
      %li{class:"item", id: "item-#{item.id}"}
        .function-buttons
          - if item.release
            = link_to "https://twitter.com/share?url=#{request.url}users/#{current_user.id}/items/#{item.id}", title: 'Twitter', target: '_blank', class: 'twitter' do
              .tooltip{"aria-label": "Twitterでツイート", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-twitter
            = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}users/#{current_user.id}/items/#{item.id}", title: 'Facebook', target: '_blank', class: 'facebook' do
              .tooltip{"aria-label": "Facebookでシェア", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-facebook
            = link_to "http://line.me/R/msg/text/?#{request.url}users/#{current_user.id}/items/#{item.id}", title: 'LINE', target: '_blank', class: 'line' do
              .tooltip{"aria-label": "Lineでシェア", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-line
            = link_to "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}users/#{current_user.id}/items/#{item.id}", title: 'Slack', target: '_blank', class: 'slack' do
              .tooltip{"aria-label": "Slackでシェア", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-slack
          = link_to user_item_path(current_user.id, item.id), class: "edit_item", "data-edit": "#{item.id}" do
            .tooltip{"aria-label": "編集", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-edit
          %a{class: "delete_item", "data-delete": "#{item.id}", href: user_item_path(current_user.id, item.id)}
            .tooltip{"aria-label": "削除", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-trash-alt

        .content
          .content__header
            .header-survice
              %p{class: "header-survice__title", "data-title": "#{item.id}", "aria-label": "サービス名", "data-microtip-position": "top", "role": "tooltip"}
                = item.title
              %p{class: "header-survice__plan", "data-plan": "#{item.id}", "aria-label": "プラン名", "data-microtip-position": "top", "role": "tooltip"}
                = item.plan
            %p{class: "header-price", "data-price": "#{item.id}", "aria-label": "価格", "data-microtip-position": "top", "role": "tooltip"}
              ¥
              = item.price

          .show-on
            = link_to "", class: "show-on__button" do
              .tooltip{"aria-label": "詳細を表示", "data-microtip-position": "top", "role": "tooltip"}
                %i.fas.fa-chevron-down

          .content__body
            %input{type: "hidden", "data-color": "#{item.id}", value: item.color}
            .body-link
              .body-link__label
                登録したリンク
              = link_to "登録したサービスサイトを確認する", item.link, class: "body-link__button", "data-link": "#{item.id}"
            .body-period
              .body-period__label
                支払いタイミング
              %p{"data-period_long": "#{item.id}"}
                = item.payment.period_long
                ヶ月ごと
              %input{type: "hidden", "data-period_unit": "#{item.id}", value: item.payment.period_unit}
            .body-firstpayment
              .body-firstpayment__label
                初回支払日
              %input{type: "hidden", "data-first_payment": "#{item.id}", value: item.payment.first_payment}
              %p
                = item.payment.first_payment.strftime("%Y年%m月%d日")
            .body-paymethod
              .body-paymethod__label
                支払い方法
              %p{"data-pay_method": "#{item.id}"}
                = item.payment.pay_method
            .body-release
              .body-release__label
                公開設定
              %input{type: "hidden", "data-release": "#{item.id}", value: item.release.to_s}
              - if item.release
                .body-release__display-on
                  公開中
              - else
                .body-release__display-off
                  非公開
            .body-description
              .body-description__label
                メモ
              %input{type: "hidden", "data-description": "#{item.id}", value: item.payment.description.to_s}
              %p= simple_format(item.payment.description)

          .show-off
            = link_to "", class: "show-off__button" do
              .tooltip{"aria-label": "詳細をしまう", "data-microtip-position": "top", "role": "tooltip"}
                %i.fas.fa-chevron-up

  = link_to "", id: 'show_all_off', class: 'show_all_off' do
    .tooltip{"aria-label": "全ての詳細をしまう", "data-microtip-position": "top", "role": "tooltip"}
      %i.fas.fa-angle-double-up

  = link_to user_items_path(current_user.id), id: 'new_item', class: 'item-creater' do
    .tooltip{"aria-label": "作成", "data-microtip-position": "top", "role": "tooltip"}
      %i.fas.fa-plus

.modal-window#modal-window
  = form_for @item, url: user_items_path(current_user.id), html:{class: "modal-form", id: 'item_form'} do |form|
    .modal-line
      .modal-line__labels
        = form.label :title
        .required
          必須
      = form.text_field :title, class: "modal-line__text-field", placeholder: "例) Netflix"

    .modal-line
      .modal-line__labels
        = form.label :link
        .required
          必須
      = form.text_field :link, class: "modal-line__text-field", placeholder: "例) https://www.netflix.com/jp/"

    .modal-line
      .modal-line__labels-color
        = form.label :color
        .required
          必須
      .color-selector
        %span.item-skin.item-skin-white.active{"data-item-skin": "white"}
        %span.item-skin.item-skin-grey{"data-item-skin": "grey"}
        %span.item-skin.item-skin-red{"data-item-skin": "red"}
        %span.item-skin.item-skin-orange{"data-item-skin": "orange"}
        %span.item-skin.item-skin-yellow{"data-item-skin": "yellow"}
        %span.item-skin.item-skin-green{"data-item-skin": "green"}
        %span.item-skin.item-skin-blue{"data-item-skin": "blue"}
        %span.item-skin.item-skin-purple{"data-item-skin": "purple"}
        %span.item-skin.item-skin-pink{"data-item-skin": "pink"}
        %span.item-skin.item-skin-brown{"data-item-skin": "brown"}
      %input{type: "hidden",id: "item_color", name: "item[color]"}

    .modal-line
      .modal-line__labels
        = form.label :plan
        .required
          必須
      = form.text_field :plan, class: "modal-line__text-field", placeholder: "例) ベーシックプラン"

    .modal-line
      .modal-line__labels
        = form.label :price
        .required
          必須
      %p.price_unit
        ¥
      = form.text_field :price, class: "modal-line__integer", placeholder: "例) 800"

    = form.fields_for :payment do |pform|
      .modal-line
        .modal-line__labels
          = pform.label :period_long
          .required
            必須
        = pform.text_field  :period_long, class: "modal-line__integer-period", placeholder: "例) 1"
        = pform.select :period_unit, [['---', 0], ['ヶ月ごと', 1], ['週間ごと', 2], ['日ごと', 3]], {}, class: "modal-line__select"

      .modal-line
        .modal-line__labels
          = pform.label :first_payment
          .required
            必須
        = pform.date_field :first_payment, class: "modal-line__date"

      .modal-line
        .modal-line__labels
          = pform.label :pay_method
          .arbitrary
            任意
        = pform.text_field  :pay_method, class: "modal-line__text-field", placeholder: "例) クレジットカード"

      .modal-line
        .modal-line__labels
          = pform.label :description
          .arbitrary
            任意
        = pform.text_area :description, class: "modal-line__text-area", placeholder: "例) 自由に入力してね！"

      .modal-line
        .modal-line__labels
          = form.label :release
          .required
            必須
        %input{type: "hidden",id: "item_release", name: "item[release]"}
        .release-button
          = link_to "非公開", "" , id: 'release-private', class: 'release-button__private'
          = link_to "公開する", "", id: 'release-public', class: 'release-button__public selecting'

    .modal-form__buttons
      = form.submit "登録", class: 'modal-submit', id: 'item_button'
      = link_to "取り消し", "", class: 'modal-cancel', id: 'modal-close'