= render "shared/header"
.items-main
  = render "shared/notification"
  %ul.main-contents#result
    - @items.zip(@days_fees) do |item, days_fee|
      %li{class:"item", id: "item-#{item.id}"}
        .function-buttons
          %span{class: "sort_item", href: sort_user_item_path(current_user.id, item.id)}
            .tooltip{"aria-label": "並べ替える", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-sort
          - if item.release
            = link_to "https://twitter.com/share?url=#{request.url}users/#{current_user.id}/items/#{item.id}&text=#{item.payment.description.to_s}%0aサービス名:#{item.title}%0aサービス名:#{item.plan}%0a%20%23SubscripS%20", title: 'Twitter', target: '_blank', class: 'twitter' do
              .tooltip{"aria-label": "Twitterでツイート", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-twitter
            = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}users/#{current_user.id}/items/#{item.id}&text=#{item.payment.description.to_s}%0aサービス名:#{item.title}%0aサービス名:#{item.plan}%0a%20%23SubscripS%20", title: 'Facebook', target: '_blank', class: 'facebook' do
              .tooltip{"aria-label": "Facebookでシェア", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-facebook
            = link_to "http://line.me/R/msg/text/?#{request.url}users/#{current_user.id}/items/#{item.id}&text=#{item.payment.description.to_s}%0aサービス名:#{item.title}%0aサービス名:#{item.plan}%0a%20%23SubscripS%20", title: 'LINE', target: '_blank', class: 'line' do
              .tooltip{"aria-label": "Lineでシェア", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-line
            = link_to "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}users/#{current_user.id}/items/#{item.id}&text=#{item.payment.description.to_s}%0aサービス名:#{item.title}%0aサービス名:#{item.plan}%0a%20%23SubscripS%20", title: 'Slack', target: '_blank', class: 'slack' do
              .tooltip{"aria-label": "Slackでシェア", "data-microtip-position": "top", "role": "tooltip"}
                %i.fab.fa-slack
          = link_to user_item_path(current_user.id, item.id), class: "edit_item", "data-edit": "#{item.id}" do
            .tooltip{"aria-label": "編集", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-edit
          %a{class: "delete_item", "data-delete": "#{item.id}", href: user_item_path(current_user.id, item.id)}
            .tooltip{"aria-label": "削除", "data-microtip-position": "top", "role": "tooltip"}
              %i.fas.fa-trash-alt

        .content
          .content__header
            .header-survice
              %p{class: "header-survice__title", "data-title": "#{item.id}", "aria-label": "サービス名", "data-microtip-position": "top", "role": "tooltip"}
                = item.title
              %p{class: "header-survice__plan", "data-plan": "#{item.id}", "aria-label": "プラン名", "data-microtip-position": "top", "role": "tooltip"}
                = item.plan
            %p{class: "header-price", "data-price": "#{item.id}", "aria-label": "価格", "data-microtip-position": "top", "role": "tooltip"}
              ¥
              = item.price

          .show-on
            = link_to "", class: "show-on__button" do
              .tooltip{"aria-label": "詳細を表示", "data-microtip-position": "top", "role": "tooltip"}
                %i.fas.fa-chevron-down

          .content__body
            %input{type: "hidden", "data-color": "#{item.id}", value: item.color}
            .body-link
              .body-link__label
                登録したリンク
              = link_to "登録したサービスサイトを確認する", item.link, class: "body-link__button", "data-link": "#{item.id}"
            .body-period
              .body-period__label
                支払いタイミング
              %p{"data-period_long": "#{item.id}"}
                = item.payment.period_long
                - if item.payment.period_unit == 1
                  ヶ月ごと
                - elsif item.payment.period_unit == 2
                  週間ごと
                - else
                  日ごと
              %input{type: "hidden", "data-period_unit": "#{item.id}", value: item.payment.period_unit}
            .body-firstpayment
              .body-firstpayment__label
                次回支払日 [初回支払日]
              %input{type: "hidden", "data-first_payment": "#{item.id}", value: item.payment.first_payment}
              %p
                - if item.payment.period_unit == 1
                  = item.payment.first_payment.since(item.payment.period_long.month).strftime("%Y年%m月%d日")
                - elsif item.payment.period_unit == 2
                  = item.payment.first_payment.since(item.payment.period_long.week).strftime("%Y年%m月%d日")
                - else
                  = item.payment.first_payment.since(item.payment.period_long.day).strftime("%Y年%m月%d日")
                [
                = item.payment.first_payment.strftime("%Y年%m月%d日")
                ]

            .body-paymethod
              .body-paymethod__label
                支払い方法
              %p{"data-pay_method": "#{item.id}"}
                = item.payment.pay_method
            .body-release
              .body-release__label
                公開設定
              %input{type: "hidden", "data-release": "#{item.id}", value: item.release.to_s}
              - if item.release
                .body-release__display-on
                  公開中
              - else
                .body-release__display-off
                  非公開
            .body-periodfee
              .body-periodfee__label
                年間支払金額[１日あたりの金額]
              %p
                = item.price.to_i * 12
                円 [ 約
                = days_fee
                円 ]
            .body-description
              .body-description__label
                メモ
              %input{type: "hidden", "data-description": "#{item.id}", value: item.payment.description.to_s}
              %p= simple_format(item.payment.description)

          .show-off
            = link_to "", class: "show-off__button" do
              .tooltip{"aria-label": "詳細をしまう", "data-microtip-position": "top", "role": "tooltip"}
                %i.fas.fa-chevron-up

  = link_to "", id: 'show_all_off', class: 'show_all_off' do
    .tooltip{"aria-label": "全ての詳細をしまう", "data-microtip-position": "top", "role": "tooltip"}
      %i.fas.fa-angle-double-up

  = link_to user_items_path(current_user.id), id: 'new_item', class: 'item-creater' do
    .tooltip{"aria-label": "作成", "data-microtip-position": "top", "role": "tooltip"}
      %i.fas.fa-plus

= render "shared/modal-window"