= render "shared/header"
.items-main{style: "display: flex; align-items: center;"}
  .main-contents{id: "item-#{@share.id}"}
    %p{class: "heading"}
      = @share.user.name
      さんがおすすめしてるサービスです！
    .content
      .content__header
        .header-survice
          %p{class: "header-survice__title", "data-title": "#{@share.id}", "aria-label": "サービス名", "data-microtip-position": "top", "role": "tooltip"}
            = @share.title
          %p{class: "header-survice__plan", "data-plan": "#{@share.id}", "aria-label": "プラン名", "data-microtip-position": "top", "role": "tooltip"}
            = @share.plan
        %p{class: "header-price", "data-price": "#{@share.id}", "aria-label": "価格", "data-microtip-position": "top", "role": "tooltip"}
          ¥
          = @share.price

      .content__body{style: "display: flex;"}
        %input{type: "hidden", "data-color": "#{@share.id}", value: @share.color}
        .body-link
          .body-link__label
            登録したリンク
          = link_to "登録したサービスサイトを確認する", @share.link, class: "body-link__button", "data-link": "#{@share.id}"
        .body-period
          .body-period__label
            支払いタイミング
          %p{"data-period_long": "#{@share.id}"}
            = @share.payment.period_long
            - if @share.payment.period_unit == 1
              ヶ月ごと
            - elsif @share.payment.period_unit == 2
              週間ごと
            - else
              日ごと
          %input{type: "hidden", "data-period_unit": "#{@share.id}", value: @share.payment.period_unit}
        .body-periodfee
          .body-periodfee__label
            年間支払金額[１日あたりの金額]
          %p
            = @share.price.to_i * 12
            円 [ 約
            = @days_fee
            円 ]
        .body-description
          .body-description__label
            メモ
          %p{"data-description": "#{@share.id}"}= @share.payment.description